// main.scss

.shadow {
    box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    -webkit-box-shadow: 0 0 30px black;
}

.inset-shadow {
    box-shadow: inset 0 0 30px black;
    -moz-box-shadow: inset 0 0 30px black;
    -webkit-box-shadow: inset 0 0 30px black;
}
