// _layout.scss

$font-stack: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-color: white;

html {
    color: $font-color;
    font-family: $font-stack;
}

body {  
    padding: 0;
    margin: 0;
    color: $font-color;
    background-color: grey;

    a {
        color: $font-color;
        text-decoration: none;
    }
}

.title-line {
    color: green;
    background-color: black; 
    width: 100%;
    height: 5em;
}

.title-text {
    padding: 0.5em;
    font-size: 3em;
}

.centre {
    text-align: center;
}

nav {
    height: 100%;

    ul {
        li {
            margin: 0.5em;
        }
    }
}

.container {
    padding: 2em 2em;
}
